@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #efefed;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 580px;
    background-color: #1f2229;
    border: none;
    border-radius: 12px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.left-bar {
    width: 50px;
}

.right-bar {
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.fa {
    color: #fff;
}

.top-bar .fa {
    font-size: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2 {
    color:#fff;
    margin-top: 10px;
}

h3 {
    color:#444b61;
}

p {
    color: #fff;
    text-align: center;
    padding: 0 30px;
    margin: 10px;
}

.button-hireme {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(150deg, #22243b, #5f64a0);
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
}

.button-hireme:hover {
    background: linear-gradient(150deg, #5f64a0, #22243b);
}

hr {
    width: 85%;
    border: solid 1px #fff;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 10px;
}

.button-social {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.button-instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    cursor: pointer;
}

.button-instagram:hover {
    background:linear-gradient(45deg, #fd1d1d, #e1306c, #c13584, #833ab4, #5851db, #405de6);
}

.button-github {
    background:linear-gradient(45deg, #1e2f64, #6f7ba5);
    cursor: pointer;
}

.button-github:hover {
    background:linear-gradient(45deg, #6f7ba5, #1e2f64);
}


.button-linkedin {
    background:linear-gradient(45deg, #5378c9, #9eafcf);
    cursor: pointer;
}

.button-linkedin:hover {
    background:linear-gradient(45deg, #9eafcf, #5378c9);
}

.button-social .fa {
    font-size: 25px;
}

.seguidores {
    color: #fff;
}
